@using Hopsi.Web.Models.Account
@model LoginVM

@* <div class="flex h-screen items-center justify-center bg-sky-100">
    <!-- Left: Image -->
    <div class="hidden h-screen w-1/2 lg:block">
        <img src="https://img.freepik.com/fotos-premium/imagen-fondo_910766-187.jpg?w=826" alt="Placeholder Image" class="h-full w-full object-cover">
    </div>
    <!-- Right: Login Form -->
    <div class="w-full p-8 sm:20 md:p-52 lg:p-36 lg:w-1/2">
        <h1 class="mb-4 text-2xl font-semibold">Login</h1>
        <form asp-action="Login" method="POST">
            <!-- Username Input -->
            <div class="mb-4" "bg-sky-100">
                <label asp-for="Username" class="block text-gray-600">Username</label>
                <input asp-for="Username" type="text" id="username" class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-blue-500" autocomplete="off">
            </div>
            <!-- Password Input -->
            <div class="mb-4">
                <label asp-for="Password" class="block text-gray-800">Password</label>
                <input asp-for="Password" type="password" id="password" class="w-full rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-blue-500" autocomplete="off">
            </div>
            <!-- Login Button -->
            <button type="submit" class="w-full rounded-md bg-red-500 px-4 py-2 font-semibold text-white hover:bg-blue-600">Login</button>
        </form>
        <!-- Sign up  Link -->
        <div class="mt-6 text-center text-green-500">
            <a href="#" class="hover:underline">Sign up Here</a>
        </div>
    </div>
</div> *@

<div class="card bg-base-100 w-96 shadow-xl">
    <figure>
        <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
             alt="Shoes" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
        </div>
    </div>
</div>
